APP_HOST=http://127.0.0.1:8787
COOKIE_SECRET=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/tinyauth
ALLOWED_SIGNUP_EMAILS=*
USERS_JSON=[]
CLIENTS_JSON=[]
TERMS_JSON=[]
HTML_TITLE=TinyAuth
HTML_DESCRIPTION=OIDC for everyone
HTML_FAVICON_URL=/vite.svg
LOG_LEVEL=info

